.blank {
    background: #fff;
    color: #000;
    border-color: #000;
}

.select-target {
    background: #000;
    color:#fff;
}

.match-target {
    background: red;
    color:#fff;
}

.no-match-target {
    background: blue;
    color:#fff;
}