<ion-header>
  <ion-toolbar>
    <ion-title>Batalla Naval</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="createGame()" style="padding: 20px;">
    <div class="form-group">
      <label style="color: white;" for="email">Correo Electronico</label>
      <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
        placeholder="Ingresa tu email">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Jugar
    </button>
  </form>
</ion-content>