<ion-header>
  <ion-toolbar>
    <ion-title>
      Batalla Naval
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main role="main" class="container">
    <div class="starter-template">
      <h1>Batalla Naval</h1>
      <ion-img src='../../assets/images/ship.png'></ion-img>
      <p class="lead">Listo para acabar con tus enemigos<br>¡Esta es tu unica oportunidad para destruir a tu profesor de
        clase!</p>
    </div>
  </main>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" routerLink="/index">Comenzar a Matar!</ion-button>
  </ion-toolbar>
</ion-footer>
